services:
  db:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=test
      - POSTGRES_DB=test
  redis:
    image: redis
    restart: always
    ports:
      - "6379:6379"
    command: redis-server /usr/local/etc/redis/redis-full.conf
    volumes:
      - redis-cache:/data
      - ./redis-full.conf:/usr/local/etc/redis/redis-full.conf

volumes:
  postgres-data:
  redis-cache:
