services:
  db:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
  redis:
    image: redis
    restart: always
    ports:
      - "6379:6379"
    command: redis-server /usr/local/etc/redis/redis-full.conf --requirepass ${REDIS_PASSWORD}
    volumes:
      - redis-cache:/data
      - ./redis-full.conf:/usr/local/etc/redis/redis-full.conf
  server:
    build:
      context: ../server
      dockerfile: ../docker/server/Dockerfile
    container_name: apollo_server
    expose:
      - "4000"
    depends_on:
      - db
      - redis
  nxginx-proxy:
    image: nginx:alpine
    restart: "always"
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - server
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./client/dist/:usr/share/nginx/html:ro

volumes:
  postgres-data:
  redis-cache:
