services:
  db:
    image: postgres
    restart: always
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
  redis:
    image: redis
    restart: always
    ports:
      - "127.0.0.1:6379:6379"
    command: redis-server /usr/local/etc/redis/redis-full.conf --requirepass ${REDIS_PASSWORD}
    volumes:
      - redis-cache:/data
      - ./redis-full.conf:/usr/local/etc/redis/redis-full.conf

volumes:
  postgres-data:
  redis-cache:
