# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: ["main", "dev"]
  pull_request:
    branches: ["main", "dev"]

jobs:
  build:
    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [22.x, 24.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
      JWT_REFRESH_SECRET: ${{ secrets.JWT_REFRESH_SECRET }}
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
      REDIS_URL: ${{ secrets.REDIS_URL }}
      APOLLO_SERVER_PORT: ${{ vars.APOLLO_SERVER_PORT }}

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: test
          POSTGRES_DB: test
        ports:
          - 5433:5432

      redis:
        image: redis
        ports:
          - 6380:6379

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: rm -rf package-lock.json node_modules
      - run: npm install
      - name: Generate prisma client
        run: npx prisma generate
        working-directory: ./server
      - name: Generate graphql types for server
        run: npm run generate
        working-directory: ./server
      - run: npm test --workspaces
